@model IEnumerable<KusuoStoreIg.Models.carcasa>

@{
    ViewBag.Title = "Modelos";
}

<h2>Modelos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.colorb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.colorb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDcar }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDcar }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDcar })
        </td>
    </tr>
}

</table>
